/* App.css */

#root {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #333; /* Add background color as needed */
}

.main-content {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Set the height to 100% */
  background-color: yellow; /* Add background color as needed */
}
